<h1>Create New Post</h1>
<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]" value="">
  </label>
  <br>
  
  <label>URL
    <input type="url" name="post[url]" value="">
  </label>
  <br>
  
  <label>Content
    <textarea name="post[content]" rows="8" cols="80"></textarea>
  </label>
  
  <input type="submit" name="" value="Create Post">
</form>